<%- include header %>
<%- include head %>

<div class="col-sm-6" style="background-color:lavender;">
<form method="post">

  <div class="input-group">
  <span class="input-group-addon" id="sizing-addon1">Login</span>
  <input type="text" class="form-control" placeholder="Username" aria-describedby="sizing-addon1" name="username">
</div>

<div class="input-group">
  <span class="input-group-addon" id="sizing-addon1">Password</span>
  <input type="text" class="form-control" placeholder="password" aria-describedby="sizing-addon1" name="password">
  
</div>
	<button type="submit" value="Login" class="btn btn-default">Submit</button>
	
</form>
</div>

<%- include footer %>