<!-- reviesed by lingying -->
<body>
    <div id="wrap" style="width:1280px; height:640px">
        <img class="wrap" src="/images/party.jpg">
        </img>    
        <div>
            <%- include header %>
                
        <img class="wrap" src="/images/wrap.png">
        </div>
        <div id="intro">
            <h1 style="color: white;font-size: 64px;line-height: 64px;font-weight: 700;text-shadow: none;letter-spacing: 2px;">toGather
            </h1>
            <p>
                <span>See how amazing our website is!
                </span>
            </p>
            <br>
            <br>
            <br>
            <br>
            <%- include footer %> 
       
        </div>
        <%- include loginpop %>
    </div>
    <div>

 <!-- items added here are in the same layer as background  -->       

    </div>
</body>

