<!-- reviesed by lingying -->
<body>
    <div id="wrap">
        <img class="wrap" src="/images/party.jpg">
        </img>    
        <div>
            <%- include header %>
                
        <img class="wrap" src="/images/wrap.png">
        </div>
        <div id="intro">
			<div class="icon-menu">
				Menu
			</div>
			
            <h1 style="color: white;font-size: 64px;line-height: 64px;font-weight: 700;text-shadow: none;letter-spacing: 2px;">toGather
            </h1>
            <p>
                <span>See how amazing our website is!
                </span>
            </p>
            <br>
            <br>
            <br>
            <br>
           
       
        </div>
        <%- include loginpop %>
    </div>
    <div>

 <!-- items added here are in the same layer as background  -->       

    </div>
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
	<script src="/javascripts/index.js"></script>
</body>
 <%- include footer %> 
