
<h1>Admin Edit</h1>
<form method = "post">
    Title: <br/>
    <input type="text" name="title" value="<%= post.title %>" /><br/>
    <input type="text" name="loc" value="<%= post.loc %>" /><br/>
    Paragraph: <br/>
    <textarea name="post" rows="20" cols="100"><%= post.post %></textarea><br/>
    <input type="submit" value="store edit"/>
</form>
