<!-- revised by lingying -->

<!DOCTYPE html>
<html lang="en">
<head>
<link rel="stylesheet" type="text/css" href="/stylesheets/index.css">
<link rel="stylesheet" type="text/css" href="/stylesheets/mobile.css">
<link rel="stylesheet" type="text/css" href="/stylesheets/tablet.css">
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<script src="/javascripts/index.js"></script>
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?libraries=places"></script>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
<script src="http://code.jquery.com/jquery-latest.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
</head>

	
<div id="nav">
    <ul>
			<li>
			<div class="icon-close">
			        <img src="http://s3.amazonaws.com/codecademy-content/courses/ltp2/img/uber/close.png">
			 </div>
		</li>
        <li><a class="navbtn" href="/about/">about</a></li>
        <% if(user){ %>
            <li><a class="navbtn" href="/logout/">logout</a></li>
            <li><a class="navbtn" href="/post/">post</a></li>
            <li><a class="navbtn" href="/u/<%= user.name %>">homepage</a></li>
        <% } else{ %>
            <!-- <li><a class="navbtn" href="/login">login</a></li> -->
            <li><a class="navbtn" data-toggle="modal" data-target="#myModal" >login</a></li>
            <li><a class="navbtn" href="/reg">Register</a></li>
        <% } %> 
        <li><a class="navbtn" href="/">HOME</a></li>
    </ul>

</div>



<% if(success){ %>
    <div class="alert alert-success" role="alert">Well done! You successfully logged in.</div>
<% } %>
<% if(error){ %>
    <div class="alert alert-danger" role="alert">Incorrect Username/Password. </div>
<% } %>       
