<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>Blog</title>
        <link rel="stylesheet" href="/stylesheets/style.css">
    </head>

    <body>
        <header>
            <h1><%= title %></h1>
        </header>

        <nav>
            <span><a title="Home Page" href="/">home</a></span>
            <% if(user){ %>
                <span><a title="Post"  href="/post">post</a></span>  
                <span><a title="Upload" href="./upload">Upload</a></span>
                <span><a title="Logout" href="/logout">logout</a></span>
            <% }else{ %>
                <span><a title="Login"  href="/login">Login</a></span>
                <span><a title="Register" href="/reg">Register</a></span>
            <% } %>
        </nav>

        <article>
            <% if(success){ %>
                <div><%- success%></div>
            <% } %>
            <% if(error){ %>
                <div><%- error %></div>
            <% } %>
