<!doctype html>
<html>
  <head>
  	<title>toGather</title>
  	<link rel="stylesheet" type="text/css" href="index.css">
  </head>
  <body>
    <div id="wrap" style="width:1280px; height:640px">
      	<video autoplay muted loop id="vedio">
      		<source src="minions.mp4">
	    </video>	
	    <div>
	    	<div id="nav">
	    		<ul>
	    			<li><a class="navbtn" href="about">ABOUT</a></li>
	    			<li><a class="navbtn" href="/logout/">LOGOUT</a></li>
	    			<li><a class="navbtn" href="/upload/">UPLOAD</a></li>
	    			<li><a class="navbtn" href="/post/">POST</a></li>
	    			<li><a class="navbtn" href="">HOME</a></li>

	    		</ul>	

	    	</div>
	      	<img src="wrap.png">
	    </div>
	    <div id="intro">
	      	<h1 style="color: #fffefe;font-size: 64px;line-height: 64px;font-weight: 700;text-shadow: none;letter-spacing: 2px;">toGather
	      	</h1>
	      	<p>
	      		<span>toGather helps you find amazing parties around
	      		</span>
	      	</p>
	      	<a class="signbtn" id="signin" href="">Sign in
	      	</a>
	      	<a class="signbtn" id="signup"href="">Sign up
	      	</a>
    	</div>
   
    </div>
	<div>

		<p>add the article below this code.....</p>



	</div>	
  </body>
  <script>
    var video= document.getElementById('vedio');
    video.playbackRate = 0.5;
</script>
</html>