<!-- revised by lingying -->
<body>
    <div id="wrap">
        <video autoplay muted loop id="vedio">
            <source src="/images/test.mp4">
        </video>
         <script>
	    var video= document.getElementById('vedio');
	    video.playbackRate = 0.5;
		</script>
		 
		 
        <div>
        <%- include header %>
                
        <img class="wrap" src="/images/wrap.png">
        </div>
		
		
        <div id="intro">
			<div class="icon-menu">
				Menu
			</div>
            <h1 style="color: #fffefe;font-size: 64px;line-height: 64px;font-weight: 700;text-shadow: none;letter-spacing: 2px;">toGather
            </h1>
            <p>
                <span>toGather helps you find amazing parties around
                </span>
            </p>
            <br>
            <br>
            <span>
                <%- include searchBar %>
            </span>
            <br>
            <br>
            
        </div>
    </div>
    <div id="pagefoot">
        <%- include loginpop %>

    </div>
	
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
	<script src="/javascripts/index.js"></script>
	
</body>





<% include footer %>


