<%- include header %>


<form method="post">
    <p>Login</p>
    <input type="text" placeholder="Username"name="name"><br/>

    <p>Password</p>
    <input type="text" placeholder="password" name="password"><br/>
	<button type="submit" value="Login">Submit</button>
</form>

<a href = "<%= url%>">Get Permission</a>

<a href = "/admin">admin login</a>

<%- include footer %>