<!-- revised by lingying -->

<div class="modal fade" id="myModal" role="dialog">
  <div class="modal-dialog">
  
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Log in</h4>
      </div>
      <div class="modal-body form">
    
        
              <form method="post">
                  <div>
                      <span class="formtitle">Login</span>
                      <input type="text" placeholder="Username" name="name">
                  </div>
                   <br>
                   <div>
                      <span class="formtitle">Password</span>
                      <input type="password" placeholder="password" name="password">
                  </div>
                  <a href = "<%= url%>">
                      <img src="/images/google.png" class="auth" alt="google auth">
                  </a>

              </form>  

              <form action="/admin" method="get">
                  <p>Admin Login</p>
                  <div>
                      <span class="formtitle">Login</span>
                      <input type="text" placeholder="Username" name="name">
                  </div>
                      <br>
                  <div>
                      <span class="formtitle">Password</span>
                      <input type="password" placeholder="password" name="password">
                  </div>
                  <button type="submit" value="Login" class="submit">Submit</button>
              </form>

          
      </div>
      <div class="modal-footer">
                  <button type="submit" value="Login" class="submit">Submit</button>

      </div>
    </div>
    
  </div>
</div>