<%- include header %>


<h1>Reg page</h1>

<form method="post">
  Name：  <input type="text" name="name"/><br />
  Password：    <input type="password" name="password"/><br />
  Repeat Password：<input type="password" name="password-repeat"/><br />
  Email：    <input type="email" name="email"/><br />
           <input type="submit" value="Register"/>
</form>


<%- include footer %>