<%- include header %>
<form method="post">
    Username:  <input type="text" name="name"/><br/>
    Password:  <input type="password" name="password"/><br/>
    Confirm password:  <input type="password" name="password-repeat"/><br/>
    Mailbox:   <input type="email" name="email"/><br/>
               <input type="submit" value="Register"/>
</form>
<%- include footer %>