<%- include header %>


<h1>Reg page</h1>

<form method="post">
  username: <input type="text" name="name"/><br />
  password: <input type="password" name="password"/><br />
  retype password <input type="password" name="password-repeat"/><br />
  mailbox: <input type="email" name="email"/><br />
           <input type="submit" value="register"/>
</form>


<%- include footer %>