<script  src="/javascripts/searchBar.js"></script>
<link rel="stylesheet" href="/stylesheets/searchBar.css">


<form name="contactform" method='post'>
    <input type="text" name="keyword" id="autoKeyword" placeholder="SEARCH" />
    <input type="date" name="startDate" />
    <input type="date" name="endDate" />
    <input type="text" name="searchlatlng" id="searchlatlng" placeholder="Latitude & Longtitude" />
    <input type="submit" value="search"/>
</form>