<!-- revised by lingying -->
<script  src="/javascripts/searchBar.js"></script>

<form action="/search" method='get' >
    <input type="date" name="startDate" class="signbtn"/>
    <input type="date" name="endDate" class="signbtn"/>
    <input type="text" name="keyword" id="autoKeyword" placeholder="KEY WORD" class="signbtn"/>
    <!-- <input  type="text" name="searchlatlng" id="searchlatlng" placeholder="Latitude & Longtitude" /> -->
    <button type="submit" value="search" class="submit">Submit</button>
</form>
