
#articleContent{
	
    margin-top: 5%;
	margin-left: 10%;
	width: 80%;

}


#articleImg{

	max-width: 40%;
	max-height: 40%;
	float: left;
}

#articleDes{
	float: left;
	white-space:normal;
	max-width: 40%;
	font-size: 120%;
	margin-left: 5%;
}

#articleTitle{
	font-size: 140%;
	clear: both;
}

#articleLoc{
	clear: both;
}

#articlePost{
	margin-top: 2%;
	clear: both;
	white-space:normal;
}

#articleAttend{
	clear: both;
	padding-top: 2%;
	font-size: 100%
}

#articleComment{
	
}
	
