@media only screen and (min-width: 960px){
#map {
        display: block;
        height: 400px;
        width: 550px;
        left:9%;
      }



#loc {
        background-color: #fff;
        font-family: Roboto;
        font-size: 15px;
        font-weight: 300;
/*        margin-left: 12px;
*/        padding: 0 11px 0 13px;
        text-overflow: ellipsis;
        width: 400px;
}
}
@media only screen and (max-width: 960px){
	#map {
	        display: none;
	      }

		  #loc {
		          background-color: #fff;
		          font-family: Roboto;
		          font-size: 15px;
		          font-weight: 300;
		  /*        margin-left: 12px;
		  */        padding: 0 11px 0 13px;
		          text-overflow: ellipsis;
		          width: 400px;
		  }
		  form{
			  height:100%;
		  }
		  
#wrap{
	height:1000px;
}
.wrap{
	height:1000px;
}
}