@media only screen and (min-width: 960px){
#map {
		display: block;
		position: fixed;
        height: 630px;
        width: 600px;
        top:50px;
        bottom:0px;
        margin-top: 5px;
	    z-index:-9999;
	    float:right;
	    overflow: hidden;
      }
#nav{

	position: fixed;
	z-index: -9999;
}
.article{
	display: block;
	right: 600px;
	top: 50px;
	bottom: 0;
	z-index:0;
	position:absolute;
	overflow: scroll;
	padding:0;
}
#articleItem{
	display: inline-block;
	width:50%;
	height: 300px;
	float: left;
	padding:5px;
/*	border:2px solid black;
*/}
#articleTitle{
	height:20%;
	text-align: left;
	font-family: Circular,"Helvetica Neue",Helvetica,Arial,sans-serif;
	padding-top: 5%;
	padding-left: 3%;


}
#nameinfo{
	font-size: 16px;
}
#timeinfo{
	color: #82888a;
	font-size: 14px;
}
#articleimg{
	display: block;
	margin-top:20%;
	width:100%;
	height:75%;
	bottom:0;
	margin:0;
}


}





@media only screen and (max-width: 960px){
	#map {
			display: none;
	      }
		  
		  
	  	#nav{
	  		background-color:black;
	  	     height: 650px;
	  	     width: 30%;
			 position: fixed;
			 left:0%;
	  /*		 float:left;*/
	  	}
	  	
	  	.wrap{
	  		display:none;
	  	}
	
	
	  	#nav ul{
	  	    border-top: 1px solid #636366;
	  	     list-style: none;
	  	     margin: 0;
	  	     padding: 0;
	  		/*height:50px;*/
	  		/*position:fixed;
	  		padding:0;*/
	  	}
	  	#nav li{
	  		font-family: "proxima-nova",sans-serif;
	  		line-height: 45px;
	  		padding-bottom: 3px;
	  		  padding-left: 20px;
	  		  padding-top: 3px;
	  		  z-index:2;
	  	}
	  	#nav a{
	  	    color: #fff;
	  	     font-size: 15px;
	  	     text-decoration: none;
	  	     text-transform: uppercase;
	  		 z-index:2;
	  	}
		  
		.icon-menu {
		  color: #000;
		  cursor: pointer;
		  font-family: 'Open Sans', sans-serif;
		  font-size: 16px;
		  padding-bottom: 25px;
		  padding-left: 25px;
		  padding-top: 25px;
		  text-decoration: none;
		  text-transform: uppercase;
		}  
		.article{
			display: block;
			top: 50px;
			bottom: 0;
			z-index:0;
			position:absolute;
			overflow: scroll;
			padding:0;
		}
		#articleItem{
			display: inline-block;
			width:60%;
			/*height: 300px;*/
			margin-left:20%;
			float: left;
			padding:5px;
		/*	border:2px solid black;
		*/}
		#articleTitle{
			height:20%;
			text-align: left;
			font-family: Circular,"Helvetica Neue",Helvetica,Arial,sans-serif;
			padding-top: 5%;
			padding-left: 3%;


		}
		#nameinfo{
			font-size: 16px;
		}
		#timeinfo{
			color: #82888a;
			font-size: 14px;
		}
		#articleimg{
			display: block;
			margin-top:20%;
			width:100%;
			/*height:75%;*/
			bottom:0;
			margin:0;
		}
		.article{
			background-color:Beige;
			z-index:-99;
		}
		  
	}



