<%- include header %>



<script  src="/javascripts/postPage.js"></script>
<link rel="stylesheet" href="/stylesheets/postPage.css">



<form name="contactform" method='post' enctype='multipart/form-data'>
    Title: <input type="text" name="title"/><br/>
    Location: <input type="text" name="loc" id="loc"  placeholder="Enter a location" /> <input type="text" name="latlng" id="latlng" placeholder="Latitude & Longtitude" /><br/>
    Party Date: <input type="date" name="partyDate"><br/>

    
    <div ng-app="imageuploadDemo" ng-controller="DemoCtrl">        <!-- This is Angular JS part! -->
        <input id="pic" name = "pic" type="file" accept="image/*" image="image" resize-max-height="300" resize-max-width="250" resize-quality="0.7" />
        <img ng-show="image" ng-src="{{image.resized.dataURL}}"/>
    </div>

    Paragraph: <br/>
    <textarea name="post"></textarea><br/>
    <input type="submit" value="post"/>
</form>

    <script type="text/javascript">
          angular.module('imageuploadDemo', ['imageupload'])
            .controller('DemoCtrl', function($scope, $http) {
            });
    </script>

    <script src="javascripts/imageupload.js" type="text/javascript"></script>




<div id="map"></div>
<%- include footer %>